{% extends "_base.html" %}

{% load static %}

{% block title %}
Shift Lists
{% endblock title %}

{% block content %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Report Name</th>
            <th scope="col">Shift</th>
            <th scope="col">Agent Email</th>
        </tr>
    </thead>
    <tbody>
        <h1 class="text-center">Shift List</h1>
        {% for shift in object_list %}
        <tr>
            <th scope="row">{{shift.report_name}}</th>
            <td>{{shift.shift}}</td>
            <td>{{shift.agent_email}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}